/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
    background-color: #1D5D9B;
    font-family: 'Poppins', sans-serif;
}
/* display: flex */
#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Selector */
.titulo {
    color: #FBEEAC;
    font-size: 36px;
    font-family: 'Fredoka One', cursive;
}
.subtitulo {
    color: #FBEEAC;
    font-size: 20px;
}
.tarjetas, .opciones-ataque {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Entendiendo el modelo de caja de los elementos */
.tarjeta-de-mokepon {
    display: flex;
    flex-direction: column;
    width: 125px;
    height: 115px;
    background-color: #F4D160;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    font-weight: 800;
    justify-content: center;
    align-items: center;
}
.tarjeta-de-mokepon p {
    margin: 0;
}
.tarjeta-de-mokepon img {
    width: 80px;
}
input {
    display: none;
}
input:checked + label {
    background-color: #5D8BF4;
}
#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #FBEEAC;
    color: #FBEEAC;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

/* Estilizando la segunda sección */
#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}
.boton-ataque {
    background-color: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 80px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#mensajes {
    font-weight: bold;
    width: 280px;
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#boton-reiniciar {
    border: none;
    color: white;
    background-color:#11468F;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

/* Estilizando última sección */
.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    text-align: center;
}

/* Trabajando con canvas */
#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#ver-mapa button {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}

/* Media Queries */
@media (max-width: 440px) {
    .tarjetas {
        flex-wrap: wrap;
    }
}
@media (max-width: 320px) {
    #ver-mapa div {
        display: flex;
        flex-direction: column;
    }
}