/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
    background-color: #041562;
    font-family: 'Poppins', sans-serif;
}
/* display: flex */
#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Selector */
.titulo {
    color: gold;
    font-size: 32px;
    font-family: 'Fredoka One', cursive;
}
.subtitulo {
    color: white;
    font-size: 20px;
}
.tarjetas {
    display: flex;
    gap: 10px;
}

/* Entendiendo el modelo de caja de los elementos */
.tarjeta-de-mokepon {
    display: flex;
    width: 180px;
    height: 100px;
    background-color: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    justify-content: center;
    align-items: center;
}
.tarjeta-de-mokepon img {
    width: 80px;
}
input {
    display: none;
}
#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

/* Estilizando la segunda sección */
#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}
.boton-ataque {
    background-color: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 200px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#mensajes {
    width: 280px;
    background: gold;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#boton-reiniciar {
    border: none;
    color: white;
    background-color:#11468F;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

/* Estilizando última sección */
.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    text-align: center;
}